/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --decore-text-color: #000028;
  --accent-text-color: transparent;
  --current-color: #ff0070;
  --rec-color: #ff0070;
  --current-color-with-opacity: rgb(255, 0, 112, 0.4);
  --heading-color: #db00ff;
  --accent-bg-color: #ff0070;
}

@media (prefers-color-scheme: dark) {
  .page {
    --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --decore-text-color: #000028;
  --accent-text-color: transparent;
  --current-color: #ff0070;
  --rec-color: #ff0070;
  --current-color-with-opacity: rgb(255, 0, 112, 0.4);
  --heading-color: #db00ff;
  --accent-bg-color: #ff0070;
  }
}
