/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-text-color: transparent;
  --accent-color: #FF0070;
  --rec-color: #FF0070;
  --accent-color-with-opacity: rgb(255, 0, 112, .4);
  --heading-color: #DB00FF;
  --accent-bg-color: #FF0070;
}

.page.theme_light {
  --bg-color: #FFC2E6;
  --text-color: #353430;
  --decore-text-color: #353430;
  --accent-color: rgb(53, 52, 48);
  --accent-color-with-opacity: rgb(53, 52, 48, .4);
  --heading-color: #FFC2E6;
  --accent-bg-color: #FF8DCB;
  --rec-color: transparent;
  --bg-image: url('../images/cover-image-light.png');
}
