/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-font), sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--main-font-size);
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: var(--page-padding);
}

/* header */

.header {
  display: grid;
  grid-template-rows: auto max-content auto;
  align-items: center;
}

.decorated-zone {
  position: relative;
  min-block-size: 97vh;
}

@media (min-width: 768px) {
  .decorated-zone {
    min-block-size: 96vh;
  }
}

@media (min-width: 1024px) {
  .decorated-zone {
    min-block-size: 95vh;
  }
}

.decorated-zone::before {
  content: "";
  position: absolute; 
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: 0;
  inset-inline-end: 0;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: 0;
  inset-inline-start: 0;
}

.rec {
  color: var(--rec-color);
  display: flex;
  position: absolute;
  align-items: center;
  gap: 10px;
  inset-inline-end: 9px;
  inset-block-start: 0;
}

.rec::after {
  content: "";
  background-color: var(--rec-color);
  display: block;
  border-radius: 100%;
  block-size: 9px;
  inline-size: 9px;
  box-shadow: 0 0 4px 2px var(--rec-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 768px) {
  .header__theme-menu {
    margin-top: 10px; 
  }
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu {
    align-self: flex-start;
  }

  .header__theme-menu {
    justify-self: center;
    margin: 0;
  }
}

.header__theme-menu-button {
  color: var(--accent-color);
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color-with-opacity);
  margin-bottom: -1px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-with-opacity);
}

.header__theme-menu-button_active:hover {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__heading {
  color: var(--heading-color);
  text-shadow: 4px 4px 0 var(--accent-bg-color);
  line-height: 82.5%;
}

@media (max-width: 768px) {
  .header__heading {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (min-width: 768px) {
  .header__heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }
}

@media (min-width: 1024px) {
  .header__heading {
    margin: 45px 0 0 -20px;
  }
}

.title-decore {
  display: flex;
  background-color: var(--accent-bg-color);
  color: var(--decore-text-color);
  font-weight: bold;
  height: fit-content;
  justify-self: flex-end;
}

@media (max-width: 768px) {
  .title-decore:not(:first-of-type) {
    max-inline-size: 364px;
  }
}

@media (min-width: 1024px) {
  .title-decore:not(:first-of-type) {
    max-inline-size: 491px;
  }
}

/* main */

.main__section {
  margin-block-start: var(--intersection-interval);
}

@media (min-width: 768px) {
  .main__two-columns-section {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
  }
}

.main__three-columns-list {
  display: grid;
  gap: var(--textblock-margin);
}

@media (min-width: 1024px) {
  .main__three-columns-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.main__section-heading {
  font-size: var(--main-font-size);
  color: var(--accent-color);
  margin-block-end: var(--textblock-margin);
}

.description {
  display: flex;
  flex-direction: column;
  gap: var(--textblock-margin);
}

@media (min-width: 748px) {
  .description {
    margin-inline-start: var(--block-side-dist);
  }

  .main__section-heading {
    padding-inline-end: var(--textblock-margin);
    max-inline-size: 236px;
  }
}

@media (min-width: 1024px) {
  .main__section-heading {
    max-inline-size: 315px;
  }
}
.main__text {
  margin-block-start: var(--block-side-dist);
  line-height: var(--main-line-height);
}

.link {
  text-shadow: 2px 2px 0 var(--accent-bg-color);
  text-decoration: none;
}

.link:hover {
  border-block-end: 1px solid var(--text-color);
  margin-block-end: -1px;
}

.link:focus {
  outline: 1px colid var(--text-color);
}

.title-decore.h3{
  font-weight: normal;
}

.main__gallery {
  margin-block-start: var(--intersection-interval);
  display: flex;
  flex-direction: column;
  gap: var(--block-side-dist)
}

@media (min-width: 768px) {
  .grid {
    display: grid;
  }

  .main__gallery-image:nth-child(1) {
    grid-area: sunset;
  }
  
  .main__gallery-image:nth-child(2) {
    grid-area: ice-cream;
  }
  
  .main__gallery-image:nth-child(3) {
    grid-area: tape;
  }
  
  .main__gallery-image:nth-child(4) {
    grid-area: books;
  }
  
  .main__gallery-image:nth-child(5) {
    grid-area: street;
  }

  .main__gallery-images-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: "sunset sunset ice-cream" "tape books ice-cream" "tape street street";
    gap: var(--textblock-margin);
  }

}

.main__gallery-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  margin-block-start: var(--block-side-dist);
}

/* footer */

.footer {
  display: flex;
  margin-block-start: var(--intersection-interval);
  justify-content: center;
  align-items: center;
}

.footer__heading {
  color: var(--heading-color);
  text-shadow: 4px 4px 0 var(--accent-bg-color);
  line-height: 82.5%;
}

@media (max-width: 768px) {
  .footer__heading {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (min-width: 768px) {
  .footer__heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}