/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-font), sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--main-font-size);
  background-image: url('../images/cover-image-dark.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: var(--block-side-dist);
}

.header {
  display: grid;
  grid-template-rows: auto max-content auto;
  align-items: center;
}

.decorated-zone {
  position: relative;
  min-block-size: 97vh;
}

@media (min-width: 768px) {
  .decorated-zone {
    min-block-size: 96vh;
  }
}

@media (min-width: 1024px) {
  .decorated-zone {
    min-block-size: 95vh;
  }
}

.decorated-zone::before {
  content: "";
  position: absolute; 
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: 0;
  inset-inline-end: 0;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: 0;
}

.rec {
  color: var(--accent-color);
  display: flex;
  position: absolute;
  align-items: center;
  gap: 10px;
  inset-inline-end: 9px;
  inset-block-start: 0;
}

.rec::after {
  content: "";
  background-color: var(--accent-color);
  display: block;
  border-radius: 100%;
  block-size: 9px;
  inline-size: 9px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 768px) {
  .header__theme-menu {
    margin-top: 10px; 
  }
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu {
    align-self: flex-start;
  }

  .header__theme-menu {
    justify-self: center;
    margin: 0;
  }
}

.header__theme-menu-button {
  color: var(--accent-color);
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color-with-opacity);
  margin-bottom: -1px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-with-opacity);
}

.header__theme-menu-button_active:hover {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__heading {
  color: var(--heading-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
}

@media (max-width: 768px) {
  .header__heading {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (min-width: 768px) {
  .header__heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }
}

@media (min-width: 1024px) {
  .header__heading {
    margin: 45px 0 0 -20px;
  }
}

.title-decore {
  background-color: var(--accent-color);
  color: var(--bg-color);
  font-weight: bold;
  max-width: 491px;
  height: fit-content;
  justify-self: flex-end;
}
@media (max-width: 768px) {
  .title-decore {
    max-inline-size: 364px;
  }
}