/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --page-padding: 10px;
  --intersection-interval: 50px;
  --textblock-margin: 20px;
  --block-side-dist: 10px;
  --main-font: 'IBM Plex mono';
  --main-font-size: 18px;
  --main-line-height: 23.4px;
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --decore-text-color: #000028;
  --accent-text-color: transparent;
  --accent-color: #ff0070;
  --accent-color-with-opacity: rgb(255, 0, 112, 0.4);
  --heading-color: #db00ff;
}

@media (min-width: 768px) {
  :root {
    --page-padding: 20px;
    --intersection-interval: 80px;
  }
}
